workflow/github-discord-workflow.json
{
  "name": "GitHub Discord Notification Bot",
  "nodes": [
    {
      "id": "webhook-1",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "github-webhook",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "if-1",
      "name": "Filter Events",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [550, 300],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.headers['x-github-event'] }}",
              "operation": "isIn",
              "value2": ["push", "pull_request"]
            }
          ]
        }
      }
    },
    {
      "id": "code-1",
      "name": "Build Discord Embed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [850, 300],
      "parameters": {
        "language": "javascript",
        "code": "// See docs/architecture.md for the full JavaScript code\n// This node parses the GitHub payload and constructs a Discord Embed object\n"
      }
    },
    {
      "id": "http-1",
      "name": "Send to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1150, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "authentication": "none",
        "contentType": "json",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": ""
            },
            {
              "name": "embeds",
              "value": "={{ $json.embeds }}"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "Filter Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Events": {
      "main": [
        [
          {
            "node": "Build Discord Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Discord Embed": {
      "main": [
        [
          {
            "node": "Send to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "initial",
  "triggerCount": 1
}
